<!--Content-->
<div class="container bg-light col-md-4">
    <div class="row mb-2">
        <h1>Produtos</h1>
    </div>
    <div class="row">
        <!-- Form -->
        <form ng-submit="addProduct(product)" class="col-12 p-0">
            <h5 class="text-muted mb-3">Adicionar novo produto</h5>
                <!-- commented // Id
                <div class="input-group mb-3">
                    <div class="input-group-prepend" title="Id">
                        <span class="input-group-text">
                        <i class="fa fa-barcode"></i>
                        </span>
                    </div>
                    <input type="number" class="form-control" ng-model="product.id" placeholder="Id - Gerado automaticamente">
                </div>
                -->
                <!--Category-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend" title="Categoria">
                        <span class="input-group-text">
                        <i class="fa fa-tag"></i>
                        </span>
                    </div>
                    <select class="form-control" ng-model="product.category_id" ng-required="true">
                        <option value="" selected hidden>Selecione uma categoria</option>
                        <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.id}} - {{cat.name}}</option>
                    </select>
                </div>
                <!--Title-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend" title="Título">
                        <span class="input-group-text">
                        <i class="fa fa-font"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" ng-model="product.title" placeholder="Título" ng-required="true">
                </div>
                <!--Description-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend" title="Descrição">
                        <span class="input-group-text">
                        <i class="fa fa-comments"></i>
                        </span>
                    </div>
                    <textarea class="form-control" placeholder="Descrição" ng-model="product.description" ng-required="true"></textarea>
                </div>
                <!--Price-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend" title="Preço">
                        <span class="input-group-text">
                        <i class="fa fa-usd"></i>
                        </span>
                    </div>
                    <input type="number" step="0.01" class="form-control" ng-model="product.price" placeholder="Preço" ng-required="true">
                </div>
                <!--Quantity-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend" title="Quantidade">
                        <span class="input-group-text">
                        <i class="fa fa-database"></i>
                        </span>
                    </div>
                    <input type="number" step="any" class="form-control" ng-model="product.quantity" placeholder="Quantidade" ng-required="true">
                </div>
                <!--Controls-->
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicionar</button>
                <button type="reset" class="btn btn-danger"><i class="fa fa-times"></i> Limpar</button>
        </form>
    </div>
</div>